#table-one {
    text-decoration: none;
    color:#ffffff;
    background-color: white;  
    font-size: 30px;
    text-align:Top;
    border-radius: 10px black;
    margin-left: 10px black;
    margin-top: 20px;
     

}